* {
  background-color: firebrick;
}
#imzz
{
  height:25px;
  background-color:white;
}
h3 {
  background-color: aquamarine;
  border: 2px dashed greenyellow;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
}
div {
  align-content: center;
  padding-top: 200px;
  min-height: max-content;
}
